#equipment {
	padding-top:50px;
	text-align: center;

	padding: 15px;

	.post-container {
		margin-bottom:15px;
		margin-top:15px;
		.entry-content{

			background-color:$background-color;
			padding:15px;

			h3{
				text-transform: uppercase;
				font-size:1.2em;
			}	

			h2,
			h3 {
				@include m-body-font;
				padding:0;
				margin-bottom:10px;
				display:block;
			}
			
			img {
				width:100%;
			}

		}
	}	
}