body {
	#farmco-home {
		padding-top:50px;
		.farmco-home-links{
			background-color:$background-color;
			
			.links-left {
				ul{
					padding-top:10px;
				}
				li {
					list-style-type: none;
					padding:4px;
					a {
						line-height:2em;
						@include m-body-font;
					}
				}
			}
		}
	}

	background-color:$background-color;
	color:$body-color;
	h2{
		@include m-title-font;
	}

}

@media (max-width: 768px) {
	body {
		#farmco-home {
			padding-top:50px;
			.farmco-home-links{
				background-color:transparent;
				color:$body-color;
				.links-left{
					ul{
						padding-left:0px;
						&:hover{
							text-shadow:0 0 6px $blue;
						}
					}
					li {
						list-style-type: none;
						padding:4px;
						margin-top:2px;
						background-color:rgba(255,255,255,0.6);
						a {
							line-height:2em;
							@include m-body-font;
						}
						&:hover{
							background-color:rgba(100, 100, 255, 0.6);
						}
					}
				}
			}
		}
	}
}